<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Main.css" rel="stylesheet" />
</head>
<body>
    <header class="header">
        <div class="img-teatro">
        </div>
        <div class="login-container">
            <h2>LOGIN</h2>
        </div>
    </header>
    <nav class="menu">
        <ul>
            <li>
                @Html.ActionLink("Inicio", "Index", "Home")
            </li>
            <li>
                @Html.ActionLink("Opera", "Index", "Home")
            </li>
            <li>
                @Html.ActionLink("Empleado", "Index", "Home")
            </li>
        </ul>
    </nav>
    <main>
        <aside class="izq">
            @if (IsSectionDefined("izq"))
            {
                @RenderSection("izq")
            }
            else
            {
            <h2>DIRECCION:  Campo S. Fantin, 1965, 30124 Venezia VE, Italia</h2>
                <h2>TELEFONO: + 39 041 786654</h2>
            }
        </aside>
        <div class="content">
            @RenderBody()
        </div>
        <aside class="der">
            @if (IsSectionDefined("der"))
            {
                @RenderSection("der")
            }
            else
            {
                <a href="https://es.wikipedia.org/wiki/Wolfgang_Amadeus_Mozart"><img src="~/Images/Mozart.jpg" /></a>
                <a href="https://es.wikipedia.org/wiki/Giacomo_Puccini"><img src="~/Images/GiacomoPuccini.jpg" /></a>
                <a href="https://es.wikipedia.org/wiki/Giuseppe_Verdi"><img src="~/Images/GiuseppeVerdi.jpg" /></a>
            }
        </aside>
    </main>
    <footer class="footer">
        <p>mailito@opera.com</p>
    </footer>
</body>
</html>
