
@model MVCBook.Models.Book
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <h2>Create</h2>
    <h4>Book</h4>
    <br />
    @using (Html.BeginForm("Create", "Book", FormMethod.Post))
    {
        <div>
            @Html.LabelFor(model => model.Name)
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <br />
        <div>
            @Html.LabelFor(model => model.Author)
            @Html.EditorFor(model => model.Author)
            @Html.ValidationMessageFor(model => model.Author)
        </div>
        <br />
        <div>
            @Html.LabelFor(model => model.PagesNumber)
            @Html.EditorFor(model => model.PagesNumber)
            @Html.ValidationMessageFor(model => model.PagesNumber)
        </div>
        <br />
        <div>
            @Html.LabelFor(model => model.Publisher)
            @Html.EditorFor(model => model.Publisher)
            @Html.ValidationMessageFor(model => model.Publisher)
        </div>
        <br />
        <div>
            @Html.LabelFor(model => model.PublicationDate)
            @Html.EditorFor(model => model.PublicationDate)
            @Html.ValidationMessageFor(model => model.PublicationDate)
        </div>
        <br />
        <div>
            @Html.LabelFor(model => model.Content)
            @Html.EditorFor(model => model.Content)
            @Html.ValidationMessageFor(model => model.Content)
        </div>
        <br />
        <div>
            @Html.LabelFor(model => model.Price)
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>
        <br />
        <div>
            @Html.LabelFor(model => model.PriceConfirm)
            @Html.EditorFor(model => model.PriceConfirm)
            @Html.ValidationMessageFor(model => model.PriceConfirm)
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    }
    @Html.ActionLink("Back to list", "Index", "Book")
</body>
</html>
